In [279]:
import pandas as pd

In [280]:
pd.set_option('display.max_columns', None)

In [281]:
tmdb = pd.read_csv('../../Downloads/raw_tmdb.csv')
tmdb.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,160000000,https://www.warnerbros.com/movies/inception,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,165000000,http://www.interstellarmovie.net/,tt0816692,en,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,185000000,https://www.warnerbros.com/movies/dark-knight/,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237000000,https://www.avatar.com/movies/avatar,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,220000000,https://www.marvel.com/movies/the-avengers,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [282]:
# removed movies that are unreleased
tmdb = tmdb[tmdb['status'] == 'Released']
# remove movies that do not have a description
tmdb = tmdb[tmdb['overview'].notna()]
# change dates to pandas datetime format
tmdb['release_date'] = pd.to_datetime(tmdb['release_date'])
# original language is english
tmdb = tmdb[tmdb['original_language'] == 'en']
# drop columns
tmdb = tmdb.drop(columns = ['backdrop_path', 'homepage', 'original_title', 'poster_path', 'tagline', 'spoken_languages', 'original_language', 'status'])
# insert release_year
years = tmdb['release_date'].dt.year
tmdb.insert(4, 'release_year', years)
# insert profit
tmdb.insert(9, 'profit', tmdb['revenue'] - tmdb['budget'])

In [283]:
# drop movies without title
tmdb = tmdb[tmdb['title'].notna()]
# drop movies without runtimes
tmdb = tmdb[tmdb['runtime'] != 0]
# drop movies without release date
tmdb = tmdb[tmdb['release_date'].notna()]
# convert release_year to int
tmdb['release_year'] = tmdb['release_year'].astype(int)
# rename popularity to tmdb_popularity
tmdb = tmdb.rename(columns={'popularity': 'tmdb_popularity'})

In [284]:
# reset index
tmdb = tmdb.reset_index(drop=True)

In [289]:
tmdb_rev = tmdb[tmdb['revenue'] != 0]
tmdb_rev.to_csv('./data/tmdb_rev.csv')
tmdb_rev.head()

,id,title,vote_average,vote_count,release_year,release_date,revenue,runtime,adult,profit,budget,imdb_id,overview,tmdb_popularity,genres,production_companies,production_countries,keywords
0,27205,Inception,8.364,34495,2010,2010-07-15,825532764,148,False,665532764,160000000,tt1375666,"Cobb, a skilled thief who commits corporate es...",83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,2014,2014-11-05,701729206,169,False,536729206,165000000,tt0816692,The adventures of a group of explorers who mak...,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America","rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,2008,2008-07-16,1004558444,152,False,819558444,185000000,tt0468569,Batman raises the stakes in his war on crime. ...,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,2009,2009-12-15,2923706026,162,False,2686706026,237000000,tt0499549,"In the 22nd century, a paraplegic Marine is di...",79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,2012,2012-04-25,1518815515,143,False,1298815515,220000000,tt0848228,When an unexpected enemy emerges and threatens...,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"new york city, superhero, shield, based on com..."

In [288]:
# import requests
# type_dict = {
#     1: 'Premiere',
#     2: 'Theatrical (limited)',
#     3: 'Theatrical',
#     4: 'Digital',
#     5: 'Physical',
#     6: 'TV'
# }

# all_types = {}
# for movie_id in tmdb['id']:
#     url = f'https://api.themoviedb.org/3/movie/{movie_id}/release_dates?api_key=bcf309d38637447cce6e4637bea47713'
#     response = requests.get(url)
#     if response.status_code == 200:
#         data = response.json()
#         all_types[movie_id] = type_dict[data['results'][0]['release_dates'][0]['type']]
#     else:
#         print(f"Failed to retrieve data: {response.status_code}")